<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
    <title>Crop Leaf Disease Detection</title>
  </head>
  <body class="py-4">
    <div class="container mx-auto px-4 mb-4">
      <div>
        <h1 class="text-3xl mt-8 mb-4 font-bold text-center text-green-800">
          Crop Leaf Disease Detection
        </h1>
      </div>
    </div>

    <div class="flex sm:flex-row flex-col mx-auto container">
      <div class="bg-green-100 border-0 rounded flex-1 p-4 mx-4 my-2">
        <div>
          <h2 class="text-lg font-semibold">Introduction</h2>
          <p>
            This application detects disease from 12 types of crops. The disease
            that can be detected is listed in the table.
          </p>
        </div>
        <div class="my-4">
          <h2 class="text-lg font-semibold">Instructions</h2>
          <ol class="list-decimal pl-4">
            <li>
              Take a picture of a diseased leaf. Images are best if taken
              against uniform dark/white background.
            </li>
            <li>
              Prepare the image. Images are best if cropped square.
            </li>
            <li>
              Upload your image
            </li>
          </ol>

          <form
            action="/"
            method="POST"
            enctype="multipart/form-data"
            class="my-4"
          >
            <label class="block font-semibold mb-2">Upload image (.jpg)</label>
            <input
              type="file"
              name="img"
              class="inline-block border-solid border border-solid border-rounded border-black"
            />
            <button
              type="submit"
              class="bg-blue-600 p-1 text-white border rounded px-4 font-semibold border-0"
            >
              Submit
            </button>
          </form>

          {% if result != None %}
          <div
            id="result"
            class="border-rounded bg-yellow-100 rounded clearfix p-2 my-4"
          >
            {% if result['status'] == 'success' %} {% set plant =
            result['message'] %}
            <h2 class="text-lg font-semibold inline-block">Result</h2>
            <p>
              Our analysis shows that your plant is
              <a
                href="{{ plant['plant_info'] }}"
                class="underline text-blue-600"
                >{{ plant['plant'] }}</a
              >
              {% if plant['status'] != 'healthy' %} and it is afflicted by
              <a
                href="{{ plant['disease_info'] }}"
                class="underline text-blue-600"
                >{{ plant['status'] }}</a
              >
              {% else %} and it is healthy. {% endif %}
              <img src="{{ img_path }}" width="150" class="float-right" />
            </p>
            {% elif result['status'] == 'not_leaf' %}
            <p>
              The picture you provided was not a leaf. Please try another
              picture.
            </p>
            {% else %}
            <p>Error : {{ result['message'] }}</p>
            {% endif %}
          </div>
          {% endif %}
        </div>

        <div id="examples" class="clearfix mt-8">
          <span class="block">
            <h2 class="text-lg font-semibold inline-block">
              Examples
            </h2>
            <a
              href="{{ url_for('static', filename='example_img.zip') }}"
              download
              class="underline text-blue-600"
              >Download</a
            >
          </span>

          {% for label, src in examples.items() %}
          <div class="float-left mr-3 my-3 text-center bor">
            <img
              src="{{ url_for('static', filename=src) }}"
              alt="{{ label }}"
              class="mb-1"
              width="150"
            />
            <span>{{ label }}</span>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="bg-green-100 border-0 rounded flex-initial mx-4 my-2 p-2">
        <p class="text-center font-semibold text-xl mt-2 mb-4">
          List of crops and diseases
        </p>
        <table class="border-collapse border-2 border-gray-500 mx-auto">
          <tr>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Crop</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">
              Disease
            </th>
          </tr>
          <tr>
            <td rowspan="3" class="border border-gray-400 px-4 py-2">Apple</td>
            <td class="border border-gray-400 px-4 py-2">Cedar apple rust</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Black rot</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Scab</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Blueberry</td>
            <td class="border border-gray-400 px-4 py-2">-</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Cherry</td>
            <td class="border border-gray-400 px-4 py-2">Powdery mildew</td>
          </tr>
          <tr>
            <td rowspan="3" class="border border-gray-400 px-4 py-2">Corn</td>
            <td class="border border-gray-400 px-4 py-2">Gray leaf spot</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Common rust</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Northern leaf blight
            </td>
          </tr>
          <tr>
            <td rowspan="3" class="border border-gray-400 px-4 py-2">Grape</td>
            <td class="border border-gray-400 px-4 py-2">
              Black measles fungus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Black rot fungus</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Leaf blight fungus</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Orange</td>
            <td class="border border-gray-400 px-4 py-2">Citrus greening</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Peach</td>
            <td class="border border-gray-400 px-4 py-2">Bacterial spot</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Bell Pepper</td>
            <td class="border border-gray-400 px-4 py-2">
              Bacterial spot NREC
            </td>
          </tr>
          <tr>
            <td rowspan="2" class="border border-gray-400 px-4 py-2">Potato</td>
            <td class="border border-gray-400 px-4 py-2">
              Early blight fungus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Late blight fungus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Raspberry</td>
            <td class="border border-gray-400 px-4 py-2">-</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Soy</td>
            <td class="border border-gray-400 px-4 py-2">-</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Squash</td>
            <td class="border border-gray-400 px-4 py-2">Powdery Mildew</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">Strawberry</td>
            <td class="border border-gray-400 px-4 py-2">Scorch</td>
          </tr>
          <tr>
            <td rowspan="9" class="border border-gray-400 px-4 py-2">Tomato</td>
            <td class="border border-gray-400 px-4 py-2">Bacterial spot</td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Early blight fungus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Late blight water mold
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Mold fungus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Septoria leaf spot fungus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Spider mite damage
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Target spot bacteria
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Yellow leaf curl virus
            </td>
          </tr>
          <tr>
            <td class="border border-gray-400 px-4 py-2">
              Mosaic virus
            </td>
          </tr>
        </table>
      </div>
      <script type="text/javascript"></script>
    </div>
  </body>
</html>
